@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter); /* Use Inter as the sans-serif font */
  --font-mono: var(--font-roboto-mono); /* Use Roboto Mono for monospace */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif; /* Default to Inter */
}

code, pre {
  font-family: var(--font-mono), monospace; /* Use Roboto Mono for code blocks */
}
